@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 225deg 5.88% 13.33%;
    --card: 0 0% 100%;
    --card-foreground: 225deg 5.88% 13.33%;
    --popover: 0 0% 100%;
    --popover-foreground: 225deg 5.88% 13.33%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 225deg 5.88% 13.33%;
    --foreground: 210 20% 98%;
    --card: 225deg 6.37% 14.81%;
    --card-foreground: 210 20% 98%;
    --popover: 225deg 6.37% 14.81%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 225deg 4.65% 16.86%;
    --secondary-foreground: 210 20% 98%;
    --muted: 225deg 4.65% 16.86%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 225deg 4.65% 16.86%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 225deg 4.65% 16.86%;
    --input: 225deg 4.65% 16.86%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
