name: CI

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: setup node
        uses: actions/setup-node@v1
        with:
          node-version: "13.x"

      - name: yarn install, yarn build
        run: |
          yarn install
          yarn build

      - name: pack the files
        uses: montudor/action-zip@v0.1.0
        with:
          args: zip -r extension.zip build

      - name: upload and publish to chrome store
        env: # Or as an environment variable
          EXTENSION_ID: ${{ secrets.EXTENSION_ID }}
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
        run: |
          npx chrome-webstore-upload-cli upload --source extension.zip
